.navbar{
    position: absolute;
    right: 30px;}

.navbar a{
  background-color:white;}

body {
  width: 100%;
  min-height:100%;
  background-color: lightgray;
}

.homebutton{
  background-color: white;
  z-index:2;}

.homebutton a{
  width: 110px;
  background: cyan;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;}

.divtop{
  background-color: white;
  z-index:2;}
