/* Add your styles here */

.navbar {padding: 10px;
         background: lightblue}


.navbar li {display: inline-block;
            padding: 20px;
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;
            background: #fff;
            border-radius: 3px;}

.navbar la a {
                color: #000;
                text-decoration: none;}


h1 {font-size: 75px;
    text-align: center;
    background-color: lightgrey;
    padding: 30px;}

h3 {font-size: 25px;
    text-indent: 30px;
    padding-top: 25px;}

p {display:inline-block;margin-left:2em;;}